.nav {
    overflow: hidden;
}

.sk {
    position: absolute;
    top: 40px;
    left: 184px;
    padding: 3px 0 0 14px;
    border-left: 1px solid #c81523;
}

.sk_list {
    float: left;
}

.sk_list ul li {
    float: left;
}

.sk_list ul li a {
    font-size: 16px;
    font-weight: 700;
    display: block;
    line-height: 47px;
    padding: 0 30px;
    color: #000;

}

.sk_con {
    float: left;
}

.sk_con ul li {
    float: left;
}

.sk_con ul li a {
    font-size: 14px;
    display: block;
    line-height: 49px;
    padding: 0 20px;
}

.sk_con ul li a:hover {
    color: #c81523;
}

.sk_con ul li:last-child a::after {
    margin-left: 5px;
    content: "\e69a";
    font-family: "iconfont";
}

.sk_bd ul li {
    float: left;
    width: 290px;
    height: 460px;
    border: 1px solid transparent;
    margin-right: 13px;
}

.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}

.sk_bd ul li:hover {
    border: 1px solid #c81523;
}